.mainshimmerui{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.cart1{
  width: 220px; 
  border: solid 1px black;
  margin: 20px;
  height: 350px;
}

.shimmerheader{
  height: 60px;
  border: solid black 1px;
  width: 100%
}


